<!doctype html>
<html lang="en">

<head>
    <title>Anime-X</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #181d27;">
            <div class="container-fluid">
                <a v-on:click="show = false" class="navbar-brand" href="#"
                    style="color: #DC1A28; font-weight: 700;  font-size: 22px; font-family: 'Poppins', sans-serif;">Anime-X</a>
                <div class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 rounded" type="search" placeholder="Search Anime."
                        style="background-color: #181d27;" @change="cari">
                </div>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid" v-if="!show">
            <div class="container">
                <div class="align-self-center align-middle">
                    <h1 class="hero-title">Anime-X</h1>
                    <p style="font-size: 18px; font-family: 'Poppins', sans-serif;">
                        Web page ini dibuat oleh <strong>Haris Tanone</strong> dengan tujuan untuk latihan tambahan.<br>
                        Dengan memanfaatkan data yang disediakan dari <strong>Jikan API</strong> yang diambil dengan
                        menggunakan <strong>Vue Js</strong>.<br>
                        Untuk tampilan dari web page ini dibagun dengan menggunakan framework <strong>CSS
                            Bootstrap 4.*.</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="container" id="app">
            <div class="row pb-1" v-if="!show">
                <div class="col-7 col-lg-7 col-sm-7 col-md-7">
                    <h3 class="text-color">Top {{ cat }} Anime</h3>
                </div>
                <div class="col-5 col-lg-5 col-sm-5 col-md-5">
                    <select name="filter" id="filter" class="form-control bg" @change="filter">
                        <option value="tv">TV</option>
                        <option value="upcoming">UpComing</option>
                        <option value="movie">Movie</option>
                        <option value="airing">Airing</option>
                    </select>
                </div>
            </div>
            <div class="row" v-if="show">
                <div class="col-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" :src="detailx.trailer_url" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row pt-3 pb-3" v-if="show">
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 text-center">
                    <img :src="detailx.image_url" class="img-thumbnail" style="width: 100%;">
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12 col-12 text-white">
                    <h1>{{ detailx.title }}</h1>
                    <span><Strong>Rating : </Strong>{{ detailx.score }}</span><br>
                    <span><strong>Type :</strong> {{ detailx.type }}</span><br>
                    <span><strong>Status :</strong> {{ detailx.status }}</span><br>
                    <span><strong>Synopsis :</strong> {{ detailx.synopsis }}</span>
                </div>
            </div>
            <div class="row" v-if="!show">
                <!-- RECOMENDATIONS SHOW HERE --->
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 py-3" v-for="result in results">
                    <a href="#!" @click="details">
                        <div class="card border-0 h-100 rounded border-0 shadow">
                            <clazy-load :src="result.image_url" class="card-img-top rounded" :data-id="result.mal_id">
                                <transition>
                                    <img :src="result.image_url" class="card-img-top rounded" :data-id="result.mal_id">
                                </transition>
                                <transition name="fade" slot="placeholder">
                                    <div class="preloader">
                                        <div class="circle">
                                            <div class="circle-inner"></div>
                                        </div>
                                    </div>
                                </transition>
                            </clazy-load>
                            <div class="top-left">
                                <span class="badge badge-primary">{{ result.type }} | {{ result.score }}</span>
                            </div>
                            <div class="bottom-left">
                                <span class="text pt-1 text-white">{{ result.title }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue-clazy-load/dist/vue-clazy-load.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function ready(f) {
            /in/.test(document.readyState) ? setTimeout('ready(' + f + ')', 9) : f();
        }
        ready(function () {
            Vue.component("vue-clazy-load", VueClazyLoad);
            Vue.use(VueClazyLoad)

            var vm = new Vue({
                el: '#app',
                components: {
                    VueClazyLoad
                },
                data: {
                    results: [],
                    cat: 'tv',
                    show: false,
                    detailx: [],
                    recoment: []
                },
                mounted() {
                    this.start()
                },
                methods: {
                    filter(event) {
                        axios.get('https://api.jikan.moe/v3/top/anime/1/' + event.target.value)
                            .then(res => {
                                this.results = res.data.top
                                this.cat = event.target.value
                            })
                    },
                    cari(event) {
                        axios.get('https://api.jikan.moe/v3/search/anime?q=' + event.target.value + '&page=1')
                            .then(res => {
                                this.results = res.data.results
                                this.show = false
                            })
                    },
                    details(event) {
                        var id = event.target.dataset.id
                        axios.get('https://api.jikan.moe/v3/anime/' + id)
                            .then(res => {
                                this.detailx = res.data
                                res.data.trailer_url != null ? this.show = true : this.show = false
                            })
                        axios.get('https://api.jikan.moe/v3/anime/' + id + '/recommendations')
                            .then(res => {
                                this.show == false ? this.recoment = res.data.recommendations : this.start()
                            })
                    },
                    start() {
                        axios.get('https://api.jikan.moe/v3/top/anime/1/tv')
                            .then(res => {
                                this.results = res.data.top
                            })
                    }
                }
            });
        })
    </script>
</body>

</html>